.topic{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.listed{
    color: #fff;
    margin-left:10%;
    margin-right: 10%;
}

.container{
    color: #fff;
}

.fw-light{
    margin-top:20px;
    margin-bottom: 20px;
}
