.topic{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.container{
    color: white;
}
.fw-light{
    margin-top:20px;
    margin-bottom: 20px;
}

.listed{
    color: white;
    margin-left:10%;
    margin-right: 10%;
}