* {
    font-family: montserrat;
}

.navbar-nav a {
    font-size: 15px;
    text-transform:lowercase;
    font-weight: 800;

}

.navbar-nav a:hover {
    color: blue;
}

.bg-img {
    max-width: 100%;

}

body {
    background-image: url("Photos/003.webp");
  }





