* {
    font-family: montserrat;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;

}

.navbar-nav a:hover {
    color: blue;
}

.bg-img {
    max-width: 100%;

}

body {
    background: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}




